.git
node_modules
dist
test
*.log
Dockerfile
docker-compose*
abi
.env
*.env
*.env.*
*.tsbuildinfo
*.tsbuildinfo
*.tgz
*.zip
*.tar
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.lz
*.tgz
*.zip
evm_contracts/artifacts
evm_contracts/cache
evm_contracts/coverage
evm_contracts/coverage.json
evm_contracts/coverage-*.json
evm_contracts/deployments
evm_contracts/node_modules
evm_contracts/tsconfig.tsbuildinfo
evm_contracts/tsconfig.tsbuildinfo
evm_contracts/typechain-types/*
infra/terraform/*